.testimonials {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;

  .right {
    z-index: 13;
    .hamburger {
      position: absolute;
      top: 40px;
      right: 80px;
      width: 32px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      align-items: center;

      span {
        width: 100%;
        height: 3px;
        background-color: rgb(46, 21, 21);
        transform-origin: left;
        transition: all 2s ease;
      }
    }
    &.active {
      .hamburger {
        z-index: 3;
        span {
          &:first-child {
            background-color: black;
            transform: rotate(45deg);
            width: 108%;
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:last-child {
            background-color: black;
            transform: rotate(-45deg);
            width: 108%;
          }
        }
      }
    }
  }

  .h1 {
    font-size: 50px;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      width: 250px;
      height: 75%;
      border-radius: 10px;
      box-shadow: 0px 0px 15px -8px black;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      transition: all 1s ease;
      margin: 20px;

      &.featured {
        width: 300px;
        height: 75%;
        margin: 0 30px;
      }

      &:hover {
        transform: scale(1.2);
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          &.left,
          &.right {
            height: 100px;
          }

          &.user {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            object-fit: cover;
            margin: 0 10px;
          }
        }
      }

      .center {
        padding: 10px;
        background-color: rgb(243, 225, 228);
        border-radius: 10px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      }

      .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h4 {
          margin-bottom: 5px;
        }

        h5 {
          color: gray;
        }
      }
    }
  }
}
